[Unit]
Description=NodePilot Daemon
#Documentation=man:nodepilot(8) man:nodepilot.service(8)
Wants=network-online.target
Requires=docker.service
After=network-online.target docker.service

[Service]
User={{ nodepilot_user_name }}
Type=forking
ExecStart=/usr/local/bin/{{ nodepilot_binary }} start -d
ExecStop=/usr/local/bin/{{ nodepilot_binary }} stop
Restart=on-failure
RestartSec=60
TimeoutSec=60

[Install]
WantedBy=multi-user.target
{% if nodepilot_binary != 'nodepilot' %}
Alias={{ nodepilot_binary }}.service
{% endif %}
